@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

@import url("reset.css");

body {
    font-family: "Epilogue", sans-serif;
    background-color: #28293E;
    color: #fff;
}

.header {
    text-align: center;
    padding-block: 25px;
}

.header__title {
    font-size: 56px;
    font-weight: 700;
    text-shadow: 3px 4px 3px rgb(46, 44, 103);
}

.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}
.portfolio__container {
    margin-bottom: 100px;
}
.page__container {
    padding-block: 100px;
}
.page__card {
    margin-bottom: 80px;
}
.title {
    text-align: center;
    font-size: 48px;
}

.title-block {
    text-align: center;
    max-width: 426px;
    margin: 0 auto;
}

.title-block--margin-small {
    margin-bottom: 36px;
}

.title-block--position {
    text-align: left;
    margin: 0;
}

.title-block p {
    color: #EF6D58;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.title-block h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.14;
    letter-spacing: -1px;
}

.title-block>h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
}

.portfolio__menu {
    display: flex;
    justify-content: center;
    gap: 46px;
    margin-bottom: 68px;
    flex-wrap: wrap;
}
.page__menu {
    margin-bottom: 68px;
}
.menu__item {
    position: relative;
    padding-top: 10px;
    top: 0;
}

.menu__item>sup {
    display: inline-block;
    transform: translateY(-8px);
}

.menu__item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}


.button {
    text-align: center;
}

.button a {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 16px 25px;
}


.button--color {
    text-align: left;
}

.button--color a {
    background-color: #EF6D58;
}
.portfolio__card {
    margin-bottom: 64px;
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 32px;
}

.card .card__link:nth-child(4n+2),
.card .card__link:nth-child(4n+3) {
    flex-grow: 1;
}

.card__link {
    flex-basis: 470px;
    min-height: 416px;
    position: relative;
    padding: 51px 48px;

    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.card__link::before {
    content: "";
    opacity: 0.3181;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #5c2000;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.text {
    position: relative;
    z-index: 2;
}

.text__category {
    width: fit-content;
    padding: 5px 15px;
    margin-bottom: 23px;
    border-radius: 19px;
    line-height: 2;
    color: #391400;
    background-color: #fff;
}

.text__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
}

.page {
    background-color: #FDF0E9;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 46px;
    flex-wrap: wrap;
}

.menu__item--color {
    color: rgba(57, 20, 0, 0.64);
    transition: color 0.3s ease;
}

.menu-grid {
    display: grid;
    gap: 46px;
    grid-template-columns: repeat(auto-fit, minmax(53px, 85px));
    grid-auto-rows: 1fr;
}

.menu-grid__item {
    transition: color 0.3s ease;
    position: relative;
    padding-top: 10px;
    top: 0;
}
.menu-grid__item>sup {
    display: inline-block;
    transform: translateY(-8px);
}

.card-grid {
    display: grid;
    grid-template-columns: 40.17094% 17.094017% 40.17094%;
    grid-template-rows: 416px;
    grid-auto-rows: 416px;
    gap: 30px;
    overflow: hidden;
}

.card-grid__link:nth-child(4n+2),
.card-grid__link:nth-child(4n+3) {
    grid-column: span 2;
}

.card-grid__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.card-grid__link {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-end;
    padding: 51px 48px;
}

.card-grid__link::before {
    content: "";
    opacity: 0.3181;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #5c2000;
    z-index: 1;
    transition: opacity 0.5s ease;
}


.card-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 30px;
    grid-template-rows: 720px;
    grid-auto-rows: 416px;
}

.card-page__link {
    position: relative;
    overflow: hidden;
}

.card-page__link::before {
    content: "";
    opacity: 0.3181;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #5c2000;
    z-index: 1;
    transition: opacity 0.8s ease;
}

.card-page__link:nth-child(1) {
    grid-column: span 2;
}

.card-page__img {
    width: 100%;
    height: 100%;
}

.card-page__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text--grid {
    position: relative;
    z-index: 2;
}

.footer {
    text-align: center;
    font-size: 24px;
}

.page__buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.page__buttons>a {
    border-radius: 6px;
    background: #FFF;
    padding: 18px 20px;
    color: #391400;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.footer__text {
    padding-block: 50px;
}
@media (any-hover: hover) {
    .page__buttons>a:hover {
        background: #EF6D58;
        color: #FFF;
    }

    .card-page__link:hover::before {
        opacity: 0;
    }

    .card-grid__link:hover::before {
        opacity: 0;
    }

    .menu__item--color:hover {
        color: #391400;
    }

    .menu__item--color:hover::after {
        display: none;
    }

    .menu-grid__item:hover {
        color: #EF6D58;
    }

    .card__link:hover::before {
        opacity: 0;
    }

    .menu__item:hover::after {
        transform: scaleX(1);
    }

    .button:hover a {
        background-color: #B550F8;
        transition-duration: 0.3s;
    }

    .button--color:hover a {
        background-color: #fff;
        color: #391400;
        transition-duration: 0.3s;
        box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
    }
}

@media (max-width: 1200px) {
    .card__link {
        flex-basis: calc(50% - 16px);
    }
}

@media (max-width: 1176px) {
    .title-block>h3 {
        font-size: 32px;
        font-weight: 700;
    }
}

@media (max-width: 907px) {
    .title-block>h3 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {

    .header__title {
        font-size: 36px;
    }

    .card__link {
        flex-basis: 100%;
        padding: 31px 28px;
    }

    .title-block p {
        font-size: 12px;
    }

    .title-block h2 {
        font-size: 36px
    }

    .portfolio__menu {
        gap: 20px 10px;
    }

    .menu-grid {
        gap: 20px;
    }

    .text__category {
        font-size: 12px;
    }

    .text__title {
        font-size: 32px;
    }

    .title-block>h3 {
        font-size: 24px;
    }

    .card-page {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 416px;
    }

    .card-page__link:nth-child(1) {
        grid-column: span 1;
    }

    .card-grid {
        grid-template-columns: 1fr
    }

    .card-grid__link:nth-child(4n+2),
    .card-grid__link:nth-child(4n+3) {
        grid-column: span 1;
    }

    .text--grid {
        padding: 40px 20px;
    }
}