@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap");

@import url("reset.css");

body {
    background-color: #28293E;
    color: #fff;
}
.header {
    text-align: center;
    padding-block: 25px;
}

.header__title {
    font-size: 56px;
    font-weight: 700;
    text-shadow: 3px 4px 3px rgb(46, 44, 103);
}
.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1630px;
    margin: 0 auto;
    padding-inline: 15px; 
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
.portfolio {
    font-family: "Work Sans", sans-serif;
    color:  #87909D;
    font-size: 18px;
    margin-bottom: 100px;
}

.portfolio__container {
    position: relative;
    background-color: #fff;
    max-width: 1350px;
    padding-inline: 15px;
    border-radius: 15px;
    box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
    padding: 88px;
    z-index: 0;
}
.portfolio__text {
    color:  #87909D;
    line-height: 1.33;
    margin-bottom: 50px;
}

.portfolio__form {
    width: 50%;
}
.form__inputs{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 50px;
}
.form__button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: #A53DFF;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    transition-duration: 0.3s;
    max-width: 141px;
}
.form__button::after {
    content: "";
    flex-shrink: 0;
    inline-size: 24px;
    block-size: 24px;
    background: url("../img/icon-button.svg") 0 0/100% no-repeat;
}
.form__button:hover {
    background-color: #8431CC;
    transition-duration: 0.3s;
}
.form__button:focus {
    border: 2px solid #0F0F0F;
}

:focus {
    outline: none;
}

.effect::placeholder {
    color:  #697484;
    font-family: "Work Sans";
    font-size: 18px;
    line-height: 1.33;
}
.effect:focus::placeholder {
    color: #A53DFF;
}
.col {
    float: left;
    width: 100%;
    position: relative;
}

.effect {
    border: 0;
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect~.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #A53DFF;
    transition: 0.4s;
}

.effect:focus~.focus-border,
.has-content.effect~.focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.group-input {
    display: flex;
    gap: 24px;
}
.cinema{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 1.5; 
    margin-bottom: 100px;
}
.cinema__container {
    border-radius: 12px;
    border: 1px solid  #262626;
    background:#0F0F0F;
}
.cinema__form{
    padding: 50px;
    width: 60%;
}
.form-dark {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
:focus {
    outline: none;
}

.col-3 {
    float: left;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.col-3 textarea {
    resize: vertical;
    min-height: 163px;
}
.effect-2 {
    border-radius: 8px;
    border: 1px solid #262626;
    background: #141414;
    padding: 20px;
}
.effect-2::placeholder {
    color: #999;
}

.effect-2:focus {
    outline: none;
    border: 1px solid #ffffff77;
    transition-duration: 0.3s;
}
.inputs-group {
    display: flex;
    gap: 50px;
}

.checkbox__input {
    appearance: none;
}

.checkbox__label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #999;
}
.checkbox__label::before {
    content: "";
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #262626;
    background-color: #0F0F0F;
    transition: background-color 0.3s;
    align-self: flex-start;
}
.checkbox__input:checked + .checkbox__label::before {
    background: url("../img/check.svg") center / contain no-repeat;
}
.checkbox__input:focus-visible +.checkbox__label {
    outline: 2px solid #ffffff;
    border-radius: 5px;
}
.form-dark__button {
    border-radius: 8px;
    background-color:  #E50000;
    padding: 18px 24px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.form-dark__button:focus {
    border: 2px solid #ffF;
}
.form-dark__button:hover {
    background-color: #FF4D4D;
}
.form-dark__end {
    display: flex;
    justify-content: space-between;
}
.footer {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}



