@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700&display=swap");


@import url("reset.css");

body {
    font-family: "Epilogue", sans-serif;
    background-color: #140937;
    color: #fff;
}
.header {
    text-align: center;
    padding-block: 25px;
}

.header__title {
    font-size: 56px;
    font-weight: 700;
    text-shadow: 3px 4px 3px rgb(46, 44, 103);
}
.wrapper{
    min-height: 100%;
    overflow: clip;
}
[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.hero {
    margin-bottom: 40px;
}
.hero__container {
    background-color: #322cab86;
    border-radius: 30px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
.hero__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.hero__list{
    text-align: center;
    vertical-align: top;
}
.card {
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    display: inline-block;
    margin: 0 15px 15px 0;
    text-align: center;
    width: 200px;
    height: 240px;
    vertical-align: top;
}
.card__bg {
    width: 150px;
    height: 150px;
    background-color: rgba(179, 202, 245, 0.311);
    margin: 0 auto;
    margin-bottom: 15px;
}

.card__block {
    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
}
.card p {
    text-align: center;
}
.card:hover .card__block {
    transform: translate(20px, -20px);
}
.card:hover .card__block--scale{
    transform: scale(0.5);
}
.card:hover .card__block--rotate{
    transform: rotate(50deg);
}
.card:hover .card__block--skew{
    transform: skew(-30deg, 0deg);
}
.card:hover .card__block--matrix {
    transform: matrix(0, 2, 1, 1, 1, 2);
}
.card:hover .card__block--multiplicity{
    transform: translateY(10%) skew(25deg);
}
.card:hover .card__block--origin {
    transform-origin: -100% 50%;
    transform: rotate(45deg);
}

.card__bg--perspective {
    perspective: 300px;
    perspective-origin: center;
}
.card:hover .card__block--perspective {
    transform: rotateX(50deg);
}
.card:hover .card__block--translate3d {
    transform: translate3d(20px, 20px, 20px);
}
.card:hover .card__block--scale3d {
    transform: scale3d(0.9, 0.9, 0.9);
}
.card:hover .card__block--rotate3d {
    transform: rotate3d(1, 1, 1, 50deg);
}
.footer {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.practice {
    width: 1290px;
    height: 800px;
    margin: 0 auto;
}
.practice__bg {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.practice__body {
    top: 117px;
    left: 502px;
    width: 700px;
    height: 500px;
}
.car {
    position: relative;
    transform: scale(0.7) rotate(30deg);
} 
.car__top {
    left: 250px;
    top: 105px;
    position: relative;
    width: 300px;
    height: 150px;
    border-radius: 117px 15px 0  0;
    background-color: transparent;
    border: 10px solid #268fa5;
    box-shadow: -12px -6px 0px 6px rgb(255 255 255);
}
.car__top::after {
    top: 155px;
    z-index: 2;
    left: -166px;
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px 50px 0 0;
    transform: rotate(90deg);
}
.car:hover .car__top::after {
    box-shadow: 5px 5px 15px rgb(238, 245, 40);
}
.car__top::before {
    content: "";
    position: absolute;
    left: 162px;
    top: -5px;
    height: 320px;
    width: 2px;
    background-color: #fafafa5f;
    z-index: 2;
}
.car__window {
    position: absolute;
    top: -4px;
    left: 10px;
    width: 280px;
    height: 140px;
    border-radius: 75px 15px 0 0;
    background-color: transparent;
    background-image: url('../img/ron-in-car.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: -10px center;
}
.car__window::after {
    content: "";
    top: 0;
    position: absolute;
    left: 146px;
    height: 141px;
    width: 15px;
    background-color: #268fa5;
}
.car__side {
    left: 100px;
    position: relative;
    bottom: -100px;
    width: 550px;
    height: 180px;
    background-color: #268fa5;
    border-radius: 112% 90% 17% 66% / 70% 43% 221% 91%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.car__side::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 19px;
    top: 25px;
    border-top: 10px solid transparent;
    border-right: 530px solid rgb(255, 255, 255);
    border-bottom: 10px solid transparent;
}
.car__side::after {
    content: "";
    position: absolute;
    right: -60px;
    width: 0;
    height: 0;
    border-left: 67px solid transparent;
    border-right: 71px solid transparent;
    border-bottom: 29px solid rgb(255, 255, 255);
    transform: rotate(153deg);
        
}
.car__wheel {
    position: relative;
    width: 125px;
    height: 125px;
    background-color: silver;
    border: 10px dashed black;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.car__wheel::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border: 5px dotted #fff;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car__wheel::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car__wheel--right {
    position: absolute;
    bottom: 0;
    right: 100px;
}
.car__wheel--left {
    position: absolute;
    bottom: 0;
    left: 150px;
}