@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

@import url("reset.css");

body {
    font-family: "Epilogue", sans-serif;
    background-color: #28293E;
    color: #fff;
}
.header {
    text-align: center;
    margin-bottom: 100px;
}

.header__title {
    padding: 15px;
    font-size: 56px;
    font-weight: 700;
    text-shadow: 3px 4px 3px rgb(46, 44, 103);
}
@media (max-width: 698px) {
    .header__title {
        font-size: 48px;
    }
}
@media (max-width: 603px) {
    .header__title {
        font-size: 36px;
    }
}
.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}
.header {
    position: sticky;
    top: 0; 
    background-color: #28293E;
    z-index: 1000; 
} 
.header__text {
    font-size: 28px;
    padding-block: 15px;
    text-decoration: underline;
}
.main__button {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}
.main__button > a{
    flex-basis: 300px;
    text-align: center;
    line-height: 1.5;
    font-weight: 900;

    border-radius: 6px;
    background: #EF6D58;
    padding: 18px 10px;
    transition: background 0.3s ease ;

}

@media (max-width: 469px) {
    .main__button>a {
        font-size: 14px;
        padding: 14px 10px;
    }
}
@media (max-width: 423px) {
    .main__button>a {
        font-size: 12px;
        padding: 12px 8px;
    }
}
@media (max-width: 369px) {
    .main__button>a {
        font-size: 10px;
        font-weight: 800;
        padding: 10px 6px;
    }
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    min-height: 80px;
    padding-block: 10px;
}
.header__logo {
    display: flex;
    max-width: 100%;
    flex-basis: 152px;
    position: relative;
    z-index: 5;
    flex-shrink: 0;
}
.header__logo, .header__button{
    flex-basis: 152px;
}
.menu, .nav {
    flex-basis: 515px;
}
.menu__list, .nav__list {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
}

.menu__link,.nav__link {
    position: relative;
}

.menu__link::after, .nav__link::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: center;
}

.button {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 17px 35px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    z-index: 5;
}
.header__button {
    position: relative;
    z-index: 5;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: flex-end;
}
.icon-menu {
    display: none;
}

#menu__toggle {
    display: none;
}
.hero {
    margin-bottom: 100px;
}
.hero__body {
    display: flex;
    gap: 87px;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 2;
}
.hero__item {
    flex: 1 0 43.846154%; /* 513/1170 */
}
.hero__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
}
.hero__block > span {
    color:  #EF6D58;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hero__block>h1{
    font-size: 72px;
    font-weight: 800;
    line-height: 1.11;
    letter-spacing: -2px;
    max-width: 513px;
}
.hero__block>p {
    color:  rgba(255, 255, 255, 0.64);
    max-width: 470px;
    
}
.hero__buttons {
    display: flex;
    gap: 46px;
    align-items: center;
    margin-bottom: 108px;
}
.hero__buttons a:first-child {
    border-radius: 6px;
    background: #EF6D58;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 18px 23px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}
.hero__buttons a:last-child {
    position: relative;
}
.hero__buttons a:last-child::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: center;
}
.hero__text {
    display: flex;
    gap: 16px;
    align-items: center;
}
.text-block > p{
    color:  rgba(255, 255, 255, 0.64);
}
.image__circle {
    position: absolute;
    top: 16.61%;
    left: 17.5%;
    width: 64.912281%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #32334c;
}

.image {
    flex: 1 0 48.717949%; /* 570/1170 */
    position: relative;
    aspect-ratio: 570 / 602;
}

.image__block img {
    position: relative;
    z-index: 2;
}

.image__block--laptop {
    background-color: #B550F8;
    border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
    width: 43.157895%;
    height: 53.508772%;
    position: relative;
    z-index: 1;
}
.image__block--laptop img {
    position: absolute;
    bottom: 6.04%;
    left: 8.23%;
    width: 100%;
    height: auto;
    object-fit: cover
}
.image__block--girl {
    left: 56.5%;
    bottom: 19.56%;
    background-color: #F7CC47;
    border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
    width: 43.157895%;
    height: 53.508772%;
    position: relative;
    z-index: 1;
}
.image__block--girl img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88.196721%; /* 269/305 */
    object-fit: cover;
}
.image__strars {
    top: 7%;
    right: 26%;
    position: absolute;
    width: 19.649123%; /* 112/570 */
    aspect-ratio: 1;
    z-index: 1;
}
.image__strars img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image__cloud {
    position: absolute;
    top: 12%;
    right: 0;
    width: 19.649123%; /* 112/570 */
    height: 13.621262%; /* 82/602 */
}
.image__cloud img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image__page {
    position: absolute;
    top: 68.6%;
    left: 9.82%;
    width: 37.54386%; /* 214/570 */
    height: 18.604651%; /* 112/602 */
}
.image__page img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image__arrow-big {
    position: absolute;
    top: 54.6%;
    width: 24.912281%; /* 142/570 */
    height: 12.126246%; /* 73/602 */
}
.image__arrow-big img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image__arrow-small {
    position: absolute;
    top: 85.6%;
    left: 54.82%;
    width: 13.621262%; /* 82/602 */
    height: 8.77193%; /* 50/570 */
}
.image__arrow-small img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.menu__list-none {
    display: none;
}
@media (any-hover: hover) {
    .main__button > a:hover {
        background: #fff;
        box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
        color: #391400;
    }

    .menu__link:hover::after,
    .nav__link:hover::after,
    .hero__buttons a:last-child:hover::after {
        transform: scaleX(1);
    }
    .hero__buttons a:first-child:hover {
        background-color: #fff;
        border-color: #EF6D58;
        color: #391400;
    }
    .button:hover {
        background-color: #B550F8;
    }
}

.footer {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}
@media (max-width:1193px) {
    .hero__block>h1{
        font-size: 62px;
    }
    .hero__body {
        gap: 75px;
    }
}

@media (max-width:1024px) {
    .hero__block>h1 {
        font-size: 54px;
    }
    .hero__block>p {
        font-size: 14px;
    }
    .hero__body {
        gap: 60px;
    }
    .hero__buttons {
        margin-bottom: 75px;
        gap: 25px;
        font-size: 12px;
    }
    .hero__buttons a:first-child {
        padding: 12px 18px;
        font-size: 12px;
    }
    .text-block {
        font-size: 12px;
    }
}
@media (max-width:885px) {
    .hero__body {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .hero__item {
        width: 100%;
    }
    .image {
        max-width: 570px;
        margin: 0 auto;
    }
    .hero__block>h1 {
        max-width: 100%;
    }
    .header {
        margin-bottom: 50px;
    }
    .hero__buttons {
        margin-bottom: 25px;
    }
    .hero {
        margin-bottom: 50px;
    }
}
@media (max-width:745px) {
    .hero__block>h1 {
        font-size: 48px;
    }
}
@media (max-width:700px){
        .menu__btn {
            display: flex;
            align-items: center;
            position: relative;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 2;
        }
    
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
    
        .menu__btn>span::before {
            content: "";
            top: -8px;
        }
    
        .menu__btn>span::after {
            content: "";
            top: 8px;
        }
    
        .menu__list {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 126px 0;
            list-style: none;
            text-align: center;
            background-color: #0f0f0f;
            box-shadow: -1px 0px 6px rgba(0, 0, 0, .2);
            transition: right 0.3s ease;
        }
    
        .menu__item {
            text-align: right;
            display: block;
            padding: 12px 57px;
            color: #ffffff;
        }
    
        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(45deg);
        }
    
        #menu__toggle:checked~.menu__btn>span::before {
            top: 0;
            transform: rotate(0);
        }
    
        #menu__toggle:checked~.menu__btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }
    
        #menu__toggle:checked~.menu__body .menu__list {
            visibility: visible;
            right: 0;
        }
    
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            transition-duration: 0.3s;
        }
    
        .menu__list {
            visibility: hidden;
            position: fixed;
            right: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #0f0f0f;
            transition: right 0.3s ease, visibility 0.3s ease;
        }
    
        .menu__item {
            transition-duration: 0.3s;
        }

    .icon-menu {
		flex-shrink: 0;
		flex-basis: 30px;
		display: flex;
		flex-direction: column;
        z-index: 5;
	}
    .icon-menu span {
		margin-block: 6px;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		transition: all 0.3s;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #fff;
	}
    .nav__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 3;

		transition: inset-inline-start 0.3s;

		overflow: auto;

		padding: 140px 65px 30px;

		background-color: #0f0f0f;
	}
	.nav__body::before {
		content: "";
		position: fixed;
		block-size: 125px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #0f0f0f;
		transition: inset-inline-start 0.3s;
	}

	.nav__list {
		flex-direction: column;
		border: none;
		align-items: flex-end;
		background-color: transparent;
		row-gap: 25px;
	}
	.nav__link {
		font-size: 24px;
		padding: 0;
	}
	.nav__link.active {
		text-decoration: underline;
		background-color: transparent;
	}

	.open-menu .nav__body,
	.open-menu .nav__body::before {
		inset-inline-start: 0;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
}

@media (max-width: 698px) {
    .footer {
        font-size: 18px;
    }

}

@media (max-width:418px) {
    .header__container {
        gap: 15px;
    }

    .header__logo img {
        flex-basis: auto;
        width: 120px;
    }

    .button {
        padding: 12px 20px;
        font-size: 12px;
    }

    .header__logo,
    .header__button {
        flex-basis: 120px;
    }
}

@media (max-width:360px) {
    .hero__block>h1 {
        font-size: 42px;
    }
    .text-block {
        font-size: 11px;
    }
}