@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

@import url("reset.css");

body {
    font-family: "Epilogue", sans-serif;
    background-color: #28293E;
    color: #fff;
}
.header {
    text-align: center;
    margin-bottom: 100px;
}

.header__title {
    padding: 15px;
    font-size: 56px;
    font-weight: 700;
    text-shadow: 3px 4px 3px rgb(46, 44, 103);
}
.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: 80px;
    padding-block: 10px;
}
.header__logo {
    max-width: 100%;
    flex-basis: 152px;
    position: relative;
    z-index: 5;
}
.header__logo, .header__button{
    flex-basis: 152px;
}
.menu__list {
    display: flex;
    column-gap: 104px;
    row-gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2;
}
.button {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 17px 35px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}
.footer {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}