@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700&display=swap");


@import url("reset.css");

.wrapper{
    font-family: "Epilogue", sans-serif;
    min-height: 100%;
    overflow: clip;
    background-color:#FDF0E9;
}
.header{
    text-align: center;
    padding-block: 25px;
}
.header__title {
    font-size: 56px;
    font-weight: 700;
    text-shadow: 3px 4px 3px rgb(46, 44, 103);
}
.hero {
    padding-block: 40px;
    background-color: #28293E;
}
.hero__container {
    max-width: 1170px;
    margin: 0 auto;
}
.hero__item::after{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background-color: #32334cb9;
    width: 370px;
    height: 370px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.image{
    margin-bottom: 40px;
    max-inline-size: 600px;
    padding: 15px;
    position: relative;
}

.image__block img{
    position: relative;
    z-index: 2;
}

.image__block--laptop {
    position: relative;
    bottom: -20px;
    left: 20px;
}
.image__block--laptop::after {
    content: "";
    background-color: #B550F8;
    border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
    width: 246px;
    height: 305px;
    position: absolute;
    top: -21px;
    left: -21px;
    z-index: 1;
}

.image__block--girl {
    position: relative;
    bottom: 20px;
    left: 320px;
}

.image__block--girl::after {
    content: "";
    background-color: #F7CC47;
    border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
    width: 246px;
    height: 305px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.image__strars {
    top: 62px;
    right: 135px;
    position: absolute;
    max-width: 112px;
    z-index: 1;
}
.image__cloud {
    top: 105px;
    right: 0;
    position: absolute;
    max-width: 112px;
}
.image__page {
    position: absolute;
    bottom: 45px;
    left: 45px;
    z-index: 1;
    max-width: 214px;
}
.image__arrow-big {
    position: absolute;
    bottom: 170px;
    left: 0;
    max-width: 142px;
}
.image__arrow-small {
    position: absolute;
    bottom: 0;
    left: 300px;
    max-width: 82px;
}

.hero__card {
    text-align: center;
    font-size: 0
}

.card__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #ffffff35;
    padding: 16px;
    overflow: hidden;
}
.link__block img {
    max-width: 448px;
}
.link__block:hover img {
    opacity: 0.3181;
}
.link__text {
    position: absolute;
    bottom: 51px;
    left: 48px;
    text-align: left;
}
.link__title {
    display: inline-block;
    font-size: 16px;
    line-height: 2;
    color: #391400;
    background-color: #fff;
    border-radius: 19px;
    padding-inline: 15px;
    margin-bottom: 23px;
}
.link__text p{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
}
.footer {
    text-align: center;
    font-size: 24px;
    padding: 20px;
} 