@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700&display=swap");


@import url("reset.css");

.wrapper{
    font-family: "Epilogue", sans-serif;
    color: #e1e1e1f8;
    min-height: 100%;
    overflow: hidden;
    background-image: url(../img/background.webp);
}
.header{
    text-align: center;
    padding-block: 25px;
}
h1 {
    font-size: 56px;
    font-weight: 700;
    text-shadow: 1px -2px 20px rgb(206, 76, 76);
}
.section {
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px;
    background-color: #75768646;
    box-shadow: 0px 0px 20px 0px rgb(255,255,255);
    border-radius: 15px;
}
.section >div:not(:last-child) {
    margin-block-end: 50px;
}
h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}
h2:hover {
    text-decoration: underline;
}
.content-01, .content-02 {
    text-align: center;
    vertical-align: middle;
}
.content-01 img{
    vertical-align: middle;
}
.content-02 img{
    border-radius: 10px;
}
.content-01 img:not(:last-child){
    margin-inline-end: 50px;
}
.content-02 *:not(:last-child){
    margin-block-end: 30px;
}
.content-02 img[src*="man"] {
    max-width: 1170px;
}
.content-02 img[src*="bitmap"] {
    max-width: 570px;
}
.footer {
    text-align: center;
    font-size: 32px;
    padding: 20px;
}