@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");
@import url("reset.css");


h1 {
   font-family: "Manrope", sans-serif;
   font-weight: 700;
   font-size: 64px;
   padding: 30px;
   text-align: center;
   color: #999;
   text-shadow: 5px -6px 4px rgb(9 8 8 / 79%);
}

.wrapper {
   background-color: #141414;
   font-family: "Manrope", sans-serif;
   color: #999;
   font-size: 18px;
   line-height: 1.5;
}

.wrapper h2 {
   color: #fff;
   font-size: 38px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-weight: 700;
   margin-block-end: 14px;
}

.container{
   padding: 30px;
   max-width: 1657px;
   margin: 0 auto;
}

.section-dark-title {
   margin-block-end: 80px;
}

.section-items {
   max-width: 1597px;
   margin: 0 auto;
}

.items {
   margin-inline: -15px;
   font-size: 0;
}

.item {
   width: 33.333%;
   display: inline-block;
   margin-block-end: 30px;
   padding-inline: 15px;
}

.content {
   font-size: 18px;
   padding: 50px;
   border-radius: 12px;
   border: 1px solid #262626;
   background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
}

.content-item {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   margin-block-end: 30px;
}

.content-first-item {
   margin-block-end: 70px;
}

.content-item img {
   display: inline-block;
   vertical-align: middle;
   padding: 16px;
   border-radius: 12px;
   border: 1px solid #1F1F1F;
   background: #141414;
   margin-inline-end: 16px;
}

.content-item h3 {
   display: inline-block;
   vertical-align: middle;
   color: #fff;
   font-size: 24px;
   font-weight: 600;
}

.section-landing {
   background-color: #FBFBFD;
   font-family: "Roboto", sans-serif;
   color: #505F98;
   font-size: 18px;
   line-height: 1.66;
   padding: 20px 0;
}

.landing-container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 30px;
}

.landing-content {
   width: 50%;
}

.content-first-item h2 {
   color: #091133;
   font-size: 50px;
   font-weight: 500;
   line-height: 1.33;
   letter-spacing: 1px;
   margin-block-end: 20px;
}
.content-second h2{
   font-size: 36px;
   color:  #091133;
   font-weight: 500;
   line-height: 1.33;
   margin-block-end: 16px;
}

.content-first p {
   margin-block-end: 15px;
}

.content-first-button {
   font-size: 0;
}

.content-first-button a {
   font-weight: 500;
   line-height: 1.62;
   border-radius: 2px;
   border: 2px solid #091133;
   padding: 5px;
   min-width: 189px;
   text-align: center;
   font-size: 16px;
}

.button-first {
   color: #fff;
   background-color: #111B47;
   margin-inline-end: 30px;
}

.button-second {
   color: #091133;
}

.content-first {
   margin-block-end: 40px;
}

.landing-items {
   margin-inline: -15px;
   font-size: 0;
}

.landing-item {
   width: 50%;
   display: inline-block;
   margin-block-end: 30px;
   padding-inline: 15px;
   font-size: 16px;
}

.landing-item img {
   margin-block-end: 14px;
   max-width: 36px;
}

.text+p {
   margin-block-end: 70px;
}

.landing-item h3 {
   color: #091133;
   font-weight: 500;
   line-height: 1.62;
   margin-block-end: 6px;
}

.landing-item p {
   color: #5D6970;
   line-height: 1.5;
   font-size: 12px;
}

.text {
   margin-block-end: 15px;
   font-size: 16px;
}

.footer {
   font-family: "Manrope", sans-serif;
   font-weight: 700;
   font-size: 24px;
   text-align: center;
}