@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");
@import url("reset.css");


h1 {
   font-family: "Manrope", sans-serif;
   font-weight: 700;
   font-size: 64px;
   padding: 30px;
   text-align: center;
   color: #999;
   text-shadow: 5px -6px 4px rgb(9 8 8 / 79%);
}
.section-dark {
   background-color: #141414;
   font-family: "Manrope", sans-serif;
   color: #999;
   font-size: 18px;
   line-height: 1.5; 
}
.section-dark h2{
   color: #fff;
   font-size: 38px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-weight: 700;
   margin-bottom: 14px;
}
.dark-container {
   padding: 30px 0;
   max-width: 1597px;
   margin: 0 auto;
}
.section-dark-title {
   margin-bottom: 80px;
}
.section-items {
   max-width: 1597px;
   margin: 0 auto;
}

.items {
   margin-left: -15px;
   margin-right: -15px;
   font-size: 0;
}

.item {
   width: 33.333%;
   display: inline-block;
   margin-bottom: 30px;
   padding-left: 15px;
   padding-right: 15px;
}
.content {
   font-size: 18px;
   padding: 50px;
   border-radius: 12px;
   border: 1px solid #262626;
   background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
}
.content-item {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   margin-bottom: 30px;

}
.content-first-item{
   margin-bottom: 70px;
}
.content-first-item img {
   display: inline-block;
   vertical-align: middle;
   padding: 16px;
   border-radius: 12px;
   border: 1px solid #1F1F1F;
   background: #141414;
   margin-right: 16px;
}

.content-first-item h3 {
   display: inline-block;
   vertical-align: middle;
   color: #fff;
   font-size: 24px;
   font-weight: 600;
}

.section-landing {
   font-family: "Roboto", sans-serif;
   color: #505F98;
   font-size: 18px;
   line-height: 1.66;
   padding: 20px 0;
}
.landing-container {
   max-width: 1110px;
   margin: 0 auto;
}
.landing-content {
   width: 50%;
}
.section-landing h2 {
   color: #091133;
   font-size: 50px;
   font-weight: 500;
   line-height: 1.32;
   letter-spacing: 1px;
   margin-bottom: 20px;
}
.content-first p {
   margin-bottom: 15px;
}
.content-first-button{
   font-size: 0;
}
.content-first-button a {
   font-weight: 500;
   line-height: 1.62;
   border-radius: 2px;
   border: 2px solid #091133;
   padding: 5px;
   min-width: 189px;
   text-align: center;
   font-size: 16px;
}
.button-first {
   color: #fff;
   background-color: #111B47;
   margin-right: 30px;
}

.button-second {
   color: #091133;
}
.content-first {
   margin-bottom: 40px;
}
.landing-items {
   margin-left: -15px;
   margin-right: -15px;
   font-size: 0;
}

.landing-item {
   width: 50%;
   display: inline-block;
   margin-bottom: 30px;
   padding-left: 15px;
   padding-right: 15px;
   font-size: 16px;
}
.landing-item img {
   margin-bottom: 14px;
   max-width: 36px;
}
.text + p{
   margin-bottom: 70px;
}
.landing-item h3 {
   color: #091133;
   font-weight: 500;
   line-height: 1.62;
   margin-bottom: 6px;
}
.landing-item p {
   color: #5D6970;
   line-height: 1.5;
   font-size: 12px;
}
.text {
   margin-bottom: 15px;
   font-size: 16px;
}